/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: var(--ifm-background);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons .button {
  background: #d9f2eb;
  color: #18216d;
  border: none;
  transition: background 0.2s;
}
.buttons .button:hover {
  background: #8db2dc;
}
